MONGODB_INITDB_ROOT_USERNAME={{ ct_mongodb_env_mongodb_initdb_root_username }}
MONGODB_INITDB_ROOT_PASSWORD={{ ct_mongodb_env_mongodb_initdb_root_password }}
MONGODB_PORT_NUMBER={{ ct_mongodb_env_mongodb_port_number }}
MONGODB_ENABLE_JOURNAL={{ ct_mongodb_env_mongodb_enable_journal }}
{% if ct_mongodb_path_ct_data_dbms_dir == '/bitnami/mongodb' %}
MONGODB_ADVERTISED_HOSTNAME={{ ct_mongodb_env_mongodb_advertised_hostname }}
MONGODB_REPLICA_SET_MODE={{ ct_mongodb_env_mongodb_replica_set_mode }}
MONGODB_REPLICA_SET_NAME={{ ct_mongodb_env_mongodb_replica_set_name }}
MONGODB_INITIAL_PRIMARY_HOST={{ ct_mongodb_env_mongodb_initial_primary_host }}
MONGODB_INITIAL_PRIMARY_PORT_NUMBER={{ ct_mongodb_env_mongodb_initial_primary_port_number }}
ALLOW_EMPTY_PASSWORD={{ ct_mongodb_env_allow_empty_password }}
{% endif %}
{% for key, value in ct_mongodb_env_extra.items() %}
{{ key }}={{ value }}
{% endfor %}
