MONGODB_INITDB_ROOT_USERNAME={{ ct_mongodb_env_mongodb_initdb_root_username }}
MONGODB_INITDB_ROOT_PASSWORD={{ ct_mongodb_env_mongodb_initdb_root_password }}
{% for key, value in ct_mongodb_env_extra.items() %}
{{ key }}={{ value }}
{% endfor %}
