---
- name: "=== BIND9 === Create zone from template {{ bind9_zone.name }}"
  ansible.builtin.template:
    src: "{{ bind9_zone.source }}"
    dest: "{{ bind9_zone.file }}"
    mode: '0644'
    owner: root
    group: bind
  when:
    - bind9_zone.create|default(true)
    - bind9_zone.source_type == "template"
  notify:
    - bind9_handler_reload

- name: "=== BIND9 === Copy zone from file {{ bind9_zone.name }}"
  ansible.builtin.copy:
    src: "{{ bind9_zone.source }}"
    dest: "{{ bind9_zone.file }}"
    mode: '0644'
    owner: root
    group: bind
  when:
    - bind9_zone.create|default(true)
    - bind9_zone.source_type == "copy"
  notify:
    - bind9_handler_reload
...
