PORT={{ ct_rocketchat_env_port }}
ROOT_URL={{ ct_rocketchat_env_root_url }}
MONGO_URL={{ ct_rocketchat_env_mongo_url }}
MONGO_OPLOG_URL={{ ct_rocketchat_env_mongo_oplog_url }}
DEPLOY_METHOD={{ ct_rocketchat_env_deploy_method }}
Accounts_UseDNSDomainCheck={{ ct_rocketchat_env_accounts_usednsdomaincheck }}
{% if ct_rocketchat_env_overwrite_setting_ldap_enable %}
OVERWRITE_SETTING_LDAP_Enable={{ ct_rocketchat_env_overwrite_setting_ldap_enable }}
OVERWRITE_SETTING_LDAP_Host={{ ct_rocketchat_env_overwrite_setting_ldap_host }}
OVERWRITE_SETTING_LDAP_Port={{ ct_rocketchat_env_overwrite_setting_ldap_port }}
OVERWRITE_SETTING_LDAP_Reconnect={{ ct_rocketchat_env_overwrite_setting_ldap_reconnect }}
OVERWRITE_SETTING_LDAP_Authentication={{ ct_rocketchat_env_overwrite_setting_ldap_authentication }}
OVERWRITE_SETTING_LDAP_Authentication_UserDN={{ ct_rocketchat_env_overwrite_setting_ldap_authentication_userdn }}
OVERWRITE_SETTING_LDAP_Authentication_Password={{ ct_rocketchat_env_overwrite_setting_ldap_authentication_password }}
OVERWRITE_SETTING_LDAP_BaseDN={{ ct_rocketchat_env_overwrite_setting_ldap_basedn }}
OVERWRITE_SETTING_LDAP_User_Search_Filter={{ ct_rocketchat_env_overwrite_setting_ldap_user_search_filter }}
OVERWRITE_SETTING_LDAP_User_Search_Scope={{ ct_rocketchat_env_overwrite_setting_ldap_user_search_scope }}
OVERWRITE_SETTING_LDAP_AD_User_Search_Field={{ ct_rocketchat_env_overwrite_setting_ldap_ad_user_search_field }}
OVERWRITE_SETTING_LDAP_Default_Domain={{ ct_rocketchat_env_overwrite_setting_ldap_default_domain }}
OVERWRITE_SETTING_LDAP_AD_Username_Field={{ ct_rocketchat_env_overwrite_setting_ldap_ad_username_field }}
{% endif %}
{% for key, value in ct_rocketchat_env_extra.items() %}
{{ key }}={{ value }}
{% endfor %}
