PORT={{ ct_rocketchat_env_port }}
ROOT_URL={{ ct_rocketchat_env_root_url }}
MONGO_URL={{ ct_rocketchat_env_mongo_url }}
MONGO_OPLOG_URL={{ ct_rocketchat_env_mongo_oplog_url }}
DEPLOY_METHOD={{ ct_rocketchat_env_deploy_method }}
Accounts_UseDNSDomainCheck={{ ct_rocketchat_env_accounts_usednsdomaincheck }}
{% for key, value in ct_rocketchat_env_extra.items() %}
{{ key }}={{ value }}
{% endfor %}
