---
ct_kafka_task_prefix: "=== KAFKA CT ==="

# Common settings
ct_kafka_persist_data: true

# File names
ct_kafka_template_env: "kafka.env.j2"
ct_kafka_file_env: "{{ ct_kafka_ct_name }}.env"

# Path settings
ct_kafka_path_config_base: "/etc/ct_kafka"
ct_kafka_path_config_file: "{{ ct_kafka_path_config_base }}/{{ ct_kafka_file_env }}"
ct_kafka_path_base: "/srv/ct_kafka"
ct_kafka_path_data: "{{ ct_kafka_path_base }}/{{ ct_kafka_ct_name }}"
ct_kafka_path_ct_data: "/var/lib/kafka/data"

# Network settings
ct_kafka_bind_addr: "{{ ct_kafka_node.bind_ip | default('127.0.0.1') }}"
ct_kafka_bind_port: "{{ ct_kafka_node.port | default(9092) }}"
ct_kafka_ct_bind_port: "9092"

# Container settings
ct_kafka_ct_name: "kafka-{{ ct_kafka_node.id }}"
ct_kafka_ct_image: "confluentinc/cp-kafka"
ct_kafka_ct_version: "latest"
ct_kafka_ct_restart_policy: "always"
ct_kafka_ct_state: "started"
ct_kafka_ct_restart: "no"
ct_kafka_ct_pull: "no"
ct_kafka_ct_recreate: "no"
ct_kafka_ct_volumes:
  - "{{ ct_kafka_path_data }}:{{ ct_kafka_path_ct_data }}"
ct_kafka_ct_network_mode: "host"

# Environment variables
ct_kafka_env_kafka_broker_id: "{{ ct_kafka_node.id }}"
# You will need to specify your zookeeper servers
# ct_kafka_env_kafka_zookeeper_connect: ""
ct_kafka_env_kafka_advertised_host_name: "{{ ct_kafka_bind_addr }}"
# This variable is built from {{ ct_kafka_nodes }} variable
# ct_kafka_env_advertised_listeners: "k01://10.100.20.200:9092,k02://10.100.20.201:9092"
# ct_kafka_nodes:
#   - host: k01
#     bind_ip: "10.100.20.200"
#     port: "9092"
#     id: 1
#   - host: k02
#     bind_ip: "10.100.20.201"
#     id: 2
ct_kafka_env_extra: {}
...
