---
- name: "{{ clickhouse_backup_task_prefix }} Backup script"
  ansible.builtin.template:
    src: "{{ clickhouse_backup_template_cron_script }}"
    dest: "{{ clickhouse_backup_cron_script }}"
    owner: root
    group: root
    mode: '0755'

- name: "{{ clickhouse_backup_task_prefix }} Create cron"
  ansible.builtin.include_role:
    name: almaops.common.cron
  vars:
    cron_default_file: "clickhouse-backup"
    cron_jobs:
      - name: "backup database"
        schedule: "{{ clickhouse_backup_cron_schedule }}"
        command: "{{ clickhouse_backup_cron_script }}"
        user: "root"
...
