POSTGRES_PASSWORD={{ ct_postgres_env_postgres_password }}
POSTGRES_USER={{ ct_postgres_env_postgres_user }}
POSTGRES_DB={{ ct_postgres_env_postgres_db }}
{% for key, value in ct_postgres_env_extra.items() %}
{{ key }}={{ value }}
{% endfor %}