ZOOKEEPER_CLIENT_PORT_ADDRESS={{ ct_zookeeper_bind_addr }}
ZOOKEEPER_CLIENT_PORT={{ ct_zookeeper_bind_port_client }}
ZOOKEEPER_TICK_TIME={{ ct_zookeeper_env_zookeeper_tick_time }}
ZOOKEEPER_INIT_LIMIT={{ ct_zookeeper_env_zookeeper_init_limit }}
ZOOKEEPER_SYNC_LIMIT={{ ct_zookeeper_env_zookeeper_sync_limit }}
ZOOKEEPER_4LW_COMMANDS_WHITELIST=*
KAFKA_OPTS=-Dzookeeper.4lw.commands.whitelist=*
ZOOKEEPER_ADMIN_ENABLE_SERVER={{ ct_zookeeper_env_zookeeper_admin_enable_server }}
ZOOKEEPER_SERVER_ID={{ ct_zookeeper_node.id }}
ZOOKEEPER_SERVERS={% for node in ct_zookeeper_zookeeper_nodes %}{{ node.bind_ip }}:{{ node.peerport | default(ct_zookeeper_bind_port_peer) }}:{{ node.leaderport | default(ct_zookeeper_bind_port_leader) }}{% if not loop.last %};{% endif %}{% endfor %}

JVMFLAGS=-Djute.maxbuffer=5000000