KAFKA_BROKER_ID={{ ct_kafka_node.id }}
KAFKA_ZOOKEEPER_CONNECT={{ ct_kafka_env_kafka_zookeeper_connect }}
KAFKA_ADVERTISED_HOST_NAME={{ ct_kafka_env_kafka_advertised_host_name }}
KAFKA_ADVERTISED_LISTENERS={{ ct_kafka_env_advertised_listeners }}
KAFKA_MESSAGE_MAX_BYTES={{ ct_kafka_env_max_message_bytes }}
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR={{ ct_kafka_env_offset_topic_replication_factor }}
{% for key, value in ct_kafka_env_extra.items() %}
{{ key }}={{ value }}
{% endfor %}